/* © Copyright RadioBS - Created by Lugsoft - lugsoft.com.br */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bs-dark-bg-subtle);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 14px;
    line-height: 1.2;
}

a {
    color: var(--bs-emphasis-color-rgb);
}

a:hover {
    color: var(--bs-dark-text) !important;
}

p {
    line-height: 1.6;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 100%;
}

h1.title-page {
    font-size: 200%;
    margin-bottom: 20px;
}

h1.title-post {
    font-size: 180%;
    margin-bottom: 20px;
}

h2.title {
    padding-left: 20px;
    position: relative;
}

h2.title:before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 10px;
    background: var(--bs-dark-bg-subtle);
}

h5.title {
    font-size: 120%;

}

header {
    margin-bottom: 1.5rem;
}

header nav {
    min-height: 90px;
}

header nav .navbar-collapse,
header nav .offcanvas {
    flex-grow: unset !important;
}

nav .navbar-logo img {
    max-height: 70px;
}

@media (max-width: 768px) {
    nav .navbar-logo img {
        max-height: 50px;
    }

}

header nav li {
    font-size: 115%;
}

header nav .dropdown-menu {
    font-size: 80%;
}

@media (max-width: 992px) {
    header nav .offcanvas-body li {
        font-size: 140%;
        padding-bottom: 6px;
    }

    header nav .offcanvas-body .dropdown {
        font-size: 140%;
        padding-bottom: 6px;

    }

    header nav .offcanvas-body .dropdown-menu {
        font-size: 60%;
        border: none;
    }

    header nav .offcanvas-body .dropdown-item.active {
        background: none;
    }

    header nav .offcanvas {
        max-width: 240px;
    }


}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bs-gray-200);
}

::-webkit-scrollbar-thumb {
    background: var(--bs-gray-600);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-700);
}

/* fontawesome */
@font-face {
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.ttf") format("truetype");
}



@font-face {
    font-family: 'Font Awesome 6 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.ttf") format("truetype");
}

.fas,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fa-item {
    width: 12px;
}

.fas {
    font-family: 'Font Awesome 6 Free';
}

.fab {
    font-family: 'Font Awesome 6 Brands';
}

.fa-1x {
    font-size: 1em;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-stop::before {
    content: '\f04d';
}

.b-play::before {
    content: '\f04b';
}

.b-stop::before {
    content: '\f04d';
}

.b-volume::before {
    content: '\f028';
}

.b-mute::before {
    content: '\f026';
}

.fa-google-play:before {
    content: "\f3ab";
}

.fa-apple:before {
    content: "\f179";
}

.fa-play::before {
    content: '\f04b';
}

.fa-amazon:before {
    content: "\f270";
}

.fa-microsoft:before {
    content: "\f3ca";
}

.fa-search:before {
    content: "\f002";
}

.fa-facebook:before {
    content: "\f39e";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-whatsapp:before {
    content: "\f232";
}

.fa-tiktok:before {
    content: "\e07b";
}

.fa-youtube:before {
    content: "\f167";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-telegram:before {
    content: "\f2c6";
}

.fa-pinterest:before {
    content: "\f0d2";
}

.fa-discord:before {
    content: "\f392";
}

.fa-spotify:before {
    content: "\f1bc";
}

.fa-soundcloud:before {
    content: "\f1be";
}

.fa-share:before {
    content: "\f1e0";
}

.fa-camera:before {
    content: "\f030";
}

.fa-video:before {
    content: "\f03d";
}

.fa-image:before {
    content: "\f03e";
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-close:before {
    content: "\f00d";
}

.fa-microphone-lines:before {
    content: "\f3c9";
}

.fa-clock:before {
    content: "\f017";
}

.fa-location:before {
    content: "\f3c5";
}

.fa-calendar:before {
    content: "\f133";
}

.fa-paper-plane:before {
    content: "\f1d8";
}

.fa-user:before {
    content: "\f007";
}

.fa-users:before {
    content: "\f0c0";
}

.fa-bars:before {
    content: "\f0c9";
}

.fa-globe:before {
    content: "\f0ac";
}

.fa-globe2:before {
    content: "\f57d";
}

.fa-music:before {
    content: "\f001";
}

.fa-link:before {
    content: "\f0c1";
}


/* players */
#player {
    height: 100%;
    line-height: 0;
}

.b-play,
.b-stop {
    font-family: 'Font Awesome 6 Free';
    border: none;
    background: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-transition: .15s;
    transition: .15s;
}

.b-play:hover,
.b-stop:hover,
.b-play:focus {
    color: #fff;
}

/* Slide */
.carousel-caption {
    padding: 0;
    bottom: 8px;
}

.carousel-caption h5 {
    padding: 8px;
    font-size: 160%;
    color: #fff;
    background: rgba(0, 0, 0, .3);
}

/* boostrap custom */


.card {
    border: none;
}

.page-link {
    color: var(--bs-body-tertiary);
}

.carousel-control-next .next,
.carousel-control-prev .prev {
    background: rgb(0 0 0/45%);
    color: #fff !important;
    font-size: 18px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    line-height: 1.9;
    display: inline-block;
}

.carousel-item {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-pills .nav-link {
    color: var(--bs-emphasis-color-rgb) !important;
}

.nav-pills .nav-link:hover {
    color: var(--bs-dark-text) !important;
}

.nav-pills .nav-link.active {
    color: #fff !important;
}

.nav-pills .nav-link.active:hover {
    color: #fff !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler .fas {
    font-size: 24px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.08rem;
}

header .dropdown {
    font-size: 16px;
}

/* Card APP buttom */
.app-card {
    align-items: center;
    text-decoration: none;
    color: var(--bs-card-color);
    margin-bottom: 0.5rem;
}

.app-card a {
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.app-card .card-body {
    align-items: center;
    display: flex;
}

.app-card .icon {
    width: 40px;
}

.app-card:hover i {
    color: var(--bs-dark-text);
}

.app-card .info {
    width: 145px;
}

/* Card Top Music */
.top-music-card {
    margin-bottom: 0.5rem;

}

.top-music-card .card-body {
    align-items: center;
    display: flex;
}

.top-music-card .num {
    font-weight: 700;
    font-size: 180%;
    margin-right: 1rem;
}

.top-music-card .avatar {
    margin-right: 1rem;
}

.top-music-card .avatar img {
    object-fit: cover;
    height: 64px;
    width: 64px;
    border: rgb(255 255 255 / 15%) solid 3px
}

.top-music-card .info {
    overflow: hidden;
}

.top-music-card .info .track {
    display: block;
    font-size: 120%;
    font-weight: 700;
    padding-bottom: .5rem;
    white-space: nowrap;
}

.top-music-card .info .artist {
    display: block;
    white-space: nowrap;
}

.top-music-card .b-play,
.top-music-card .b-stop {
    z-index: 2;
    background: rgb(0 0 0/45%);
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: var(--bs-dark-text) solid 3px;
    transition: all .3s ease;
}

.top-music-card .b-play::before {
    color: #fff;
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
}

.top-music-card .b-stop::before {
    color: var(--bs-orange);
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
}


@media screen and (hover: hover) and (pointer: fine) {
    .top-music-card .b-play {
        opacity: 0;
    }

    .top-music-card .b-stop::before {
        color: #fff;
    }
}

.top-music-card:hover .b-play,
.top-music-card .b-play:focus {
    opacity: 1;
}

/* Card Top Music */
.top-client-card {
    margin-bottom: 0.5rem;
}

.top-client-card .card-body {
    align-items: center;
    display: flex;
}

.top-client-card .num {
    font-weight: 700;
    font-size: 180%;
    margin-right: 1rem;
}

.top-client-card .avatar {
    margin-right: 1rem;
}

.top-client-card .avatar img {
    object-fit: cover;
    height: 64px;
    width: 64px;
    border: rgb(255 255 255 / 15%) solid 3px
}

.top-client-card .info {
    overflow: hidden;
}

.top-client-card .info .name {
    display: block;
    font-size: 120%;
    font-weight: 700;
    padding-bottom: .5rem;
    white-space: nowrap;
}

.top-client-card .info .points {
    display: block;
}

/* Card Article */
.article-card {
    margin-bottom: 1rem;
}

.article-card .card-body {
    height: 100%;
}

.article-card .card-title {
    font-size: 120%;
    font-weight: 700;
}

.article-card:hover .card-title {
    text-decoration: underline;
    color: var(--bs-dark-text);
}

.article-card .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-card .card-info a {
    position: relative;
    z-index: 3;
    text-decoration: none;

}

.article-card .card-info a:hover {
    text-decoration: underline;

}

.article-card a.link-article {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.article-card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}

.article-card .article-img {
    overflow: hidden;
}

.article-card:hover.article-card img {
    transform: scale(1.05);
}

.article-card .align-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-card .button {
    text-align: center;
    background: rgb(0 0 0/45%);
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    font-size: 28px;
    color: #fff;
}

.article-card .label {
    text-align: center;
    position: absolute;
    padding-top: 8px;
    padding-left: 8px;
    color: #fff;
}

/* Card post 1 */
.post1-card {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



.post1-card .card-title {
    font-size: 100%;
}

.post1-card img {
    object-fit: cover;
    height: 100%;
    transition: all .3s ease;
}

.post1-card:hover img {
    opacity: 0.5;
    transform: scale(1.05);
}

.post1-card .link-post {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.post1-card .button {
    text-align: center;
    background: rgb(0 0 0/45%);
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    font-size: 28px;
    color: #fff;
}



/* card announcer */
.announcer-air-card {
    margin-bottom: 0;
}

.announcer-air-card .card-body {
    align-items: center;
    display: flex;
}

.announcer-air-card .avatar {
    margin-right: 1rem;
}

.announcer-air-card .avatar img {
    object-fit: cover;
    height: 70px;
    width: 70px;
    border: rgb(255 255 255 / 15%) solid 3px
}


.announcer-air-card .info .date {
    display: block;
    font-style: italic;
}

.announcer-air-card .info .announcer {
    display: block;
    font-size: 120%;
    font-weight: 700;
    padding-bottom: .5rem;
}

.announcer-air-card .info .program {
    display: block;
    margin-bottom: 0.5rem;
}

.announcer-air-card .action {
    text-align: center;
}

/* breadcrumb */
#breadcrumb li a {
    color: var(--bs-breadcrumb-item-active-color);
    text-decoration: none;
}

/* Share */
#shareBS button {
    color: #fff;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    height: 32px;
    width: 32px;
    margin-left: 8px;
    line-height: 0;
    display: inline-block;
}

.btn-fb {
    background-color: #4267b2;
}

.btn-tw {
    background-color: #55acee;
}

.btn-wa {
    background-color: #25d366;
}

.btn-sr {
    background-color: #95d03a;
}

/* embed */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ck-youtube iframe {
    width: 100% !important;
}

/* lightbox */
.lightbox-modal .modal-content {
    border: none;
    background: transparent;
}

.lightbox-modal .btn-close {
    filter: none;
    background: rgb(0 0 0/45%) !important;
    color: #fff !important;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.4rem;
    z-index: 10;
}

.lightbox-modal .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
}

.lightbox-modal img {
    width: auto;
    max-height: 90vh;
    max-width: 100%;
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    width: auto;
}

.lightbox-modal .carousel-control-prev {
    left: 10px;
}

.lightbox-modal .carousel-control-next {
    right: 10px;
}

/* TEAM */

.team-card ul {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.team-card ul li {
    padding-right: 0.9rem;
}

.team-card ul li:last-child {
    padding-right: 0;
}

/* timetable */
.timetable .avatar {
    width: 60px;
    height: 60px;
}

.timetable .just-now {
    font-size: 120%;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #0a58ca;
}

.timetable table tr.active {
    background-color: var(--bs-primary-bg-subtle);
}

[data-bs-theme=dark] .timetable table tr.active {
    background: #3f5865;
}

[data-bs-theme=dark] .timetable .just-now {
    color: #dbfd2b;
    ;
}

[data-bs-theme=dark] tr.active th,
[data-bs-theme=dark] tr.active td {
    color: #fff;
    ;
}

.podcast img {
    max-width: 200px;
}


.podcast audio {
    width: 100%;
}

.podcast .audio-panel {
    padding: 0px 0px;
    line-height: 0px;
    background: #f1f3f4;
}

.podcast .list-group-item a {
    text-decoration: none;
}

.podcast .b-play {
    font-size: 24px;
    color: var(--bs-body-color);
    padding-right: 12px;
}

.podcast .b-play:hover {
    color: var(--bs-green);
}

.podcast .b-stop {
    font-size: 24px;
    color: var(--bs-orange);
    padding-right: 12px;
}

.podcast .b-stop:hover {
    color: var(--bs-red);
}

.events .datatime {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.18px;
    padding-bottom: 8px;
    display: block;
    color: var(--bs-blue);
}

[data-bs-theme=dark] .events .datatime {
    color: var(--bs-emphasis-color);
}

.events .card-title {
    font-size: 16px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.events .location {
    font-size: 12px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.events .divider {
    color: var(--bs-emphasis-color);
    padding-left: 5px;
    padding-right: 5px;
}

.pages {
    line-height: 1.2;
}

.pages li {
    margin-top: 0;
    padding-bottom: 1rem;
}

/* CHAT */
#chatBS ::-webkit-scrollbar {
    width: 8px;
}

#chatBS ::-webkit-scrollbar-track {
    background: transparent;
}

#chatBS ::-webkit-scrollbar-track:hover {
    background: rgb(0 0 0 / 20%);
}

#chatBS ::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 60%);
    border-radius: 8px;
}

#chatBS ::-webkit-scrollbar-thumb:hover {
    background: rgb(0 0 0 / 70%);
}

#chatBS {
    font-size: .93333rem;
}

#chatBS .welcome {
    color: #fff;
}

#chatBS .card {
    background: var(--bs-dark);
    color: #000;
}

#chatBS .card-body {
    padding: 0.5rem;
}

#chatBS #chat-view {
    width: 100%;
    height: 300px;
}

#chatBS #messages {
    background: rgba(255, 255, 255, .4);
    border: 1px solid rgba(192, 192, 192, .8);
    border-radius: 4px 4px 0 0;
    padding: 0.5rem;

    width: 100%;
    overflow-y: scroll;
    word-wrap: break-word;
}

#chatBS #messages ul {
    font-weight: 600;
    margin: 0;
    padding: 0;
    list-style: none;
}

#chatBS #messages li {
    margin-bottom: 10px;
}

#chatBS #messages li .message {
    font-weight: 400;
    display: block;
}

#chatBS #messages li img {
    height: 32px;
    width: 32px;
    margin-right: 0.5rem;
}

#chatBS #users {
    background: rgba(255, 255, 255, .7);
    border: 1px solid rgba(192, 192, 192, .8);
    border-radius: 4px 4px 0 0;
    padding: 0.5rem;
    margin-left: 0.5rem;
    width: 40%;
    overflow-y: scroll;
    display: none;
}

#chatBS #users ul {
    font-weight: 600;
    margin: 0;
    padding: 1px;
    list-style: none;
    overflow: hidden;
}

#chatBS #users li {
    margin-bottom: 10px;
    white-space: nowrap;
}

#chatBS .color:before {
    font-family: 'Font Awesome 6 Free';
    content: "\f007";
    margin-right: 4px;
    color: #2196F3;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#chatBS .color_1:before {
    color: #ffca2c;
}

#chatBS .color_2:before {
    color: #fff;
}

#chatBS .color_3 {
    color: #ffca2c;
}

#chatBS .color_4 {
    color: #fff;
}

#chatBS #message-input textarea {
    background: rgba(255, 255, 255, .4);
    border: 1px solid rgba(192, 192, 192, .8);
    color: #000;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    resize: none;
}

#chatBS #message-input button {
    margin-top: 0.5rem;
}

#chatBS #login-view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 80%);
}

@media (max-width: 768px) {
    #chatBS #users {
        width: 120%;
    }
}

.img-view {
    max-height: 350px;
}

.img-view-result {
    max-height: 200px;
}

/* Comments */

#comments .comment {
    display: flex;
}

.comment .avatar {
    height: 60px;
    width: 60px;
    border: rgb(255 255 255 / 15%) solid 3px;
}

.comment .author {
    font-size: 120%;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}



/* footer */


#footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--bs-gray-300);
}

#footer-info li {
    height: 32px;
    width: 32px;
    padding: 4px;
    text-align: center;
}


#footer-info li a {
    font-size: 20px;
}

[data-bs-theme=dark] #footer-info {
    background: #131517;
}

#whatsapp-button {
    display: flex;
    position: fixed;
    z-index: 3;
    background: #25D366;
    color: #fff;
    bottom: 12px;
    right: 15px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    box-shadow: 2px 2px 12px rgba(22, 124, 60, 0.2);
    transition: 0.4s;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 32px;
}

#whatsapp-button:hover {
    background: var(--bs-emphasis-color);
    ;
    color: var(--bs-dark-bg-subtle) !important;
    box-shadow: 3px 3px 12px rgba(14, 81, 39, 0.4);
}

#whatsapp-float {
    display: flex;
    position: fixed;
    background: #25D366;
    color: #fff !important;
    z-index: 3;
    bottom: 12px;
    right: 15px;
    border-radius: 10px;
    height: 52px;
    box-shadow: 2px 2px 12px rgba(22, 124, 60, 0.2);
    transition: 0.4s;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
}

#whatsapp-float .info {
    font-size: 14px;
    flex: 1 1;
    padding: 1rem;
    font-size: 16px;
    font-weight: 700;
}

#whatsapp-float .icon {
    padding-left: 1rem;
}

#whatsapp-float:hover {
    background: var(--bs-emphasis-color);
    ;
    color: var(--bs-dark-bg-subtle) !important;
    box-shadow: 3px 3px 12px rgba(14, 81, 39, 0.4);
}

.cookiealert {
    position: fixed;
    bottom: 16px;
    left: 15%;
    width: 70%;
    margin: 0 !important;
    z-index: 1050;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: var(--bs-dark-bg-subtle);
    background: var(--bs-emphasis-color);
    border-radius: 0.375rem;
    line-height: 1.4;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline;
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}

/* anúncios rotativo */
.ads-rotation a {
    position: relative;

}

.ads-rotation img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.ads-rotation .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(0 0 0/45%);
    border-radius: 8px;
}

.ads-rotation i {
    text-align: center;
    background: rgb(0 0 0/60%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 42px;
    color: #fff;
}

.ads-rotation a:hover .overlay {
    opacity: 1;
}

.ads-rotation .text {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
